.squareHeaders {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.circleHeaders {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.triangleHeaders {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
